python>=3.8
r-base=4.3
readline
setuptools
sqlite
tk
wheel
xz
zlib
agate
agate-dbf
agate-excel
agate-sql
babel
biopython
catalogue
certifi
charset-normalizer
click
confection
conllu
csvkit==1.1.0
cymem
dbfread
dill
dpath=2
greenlet
idna
isodate
jinja2
joblib
langcodes
leather
markupsafe
multiprocess
murmurhash
networkx>=2.6
nltk>=3.5
nmslib
numpy
olefile
openpyxl
packaging
pandas>=1.3
parsedatetime
pathy
patsy
preshed
psutil
pybind11
pydantic
pysbd
python-dateutil
python-slugify
pytimeparse
pytz
regex
requests
scikit-learn
scipy
six
smart-open
spacy==3.4.*
spacy-legacy
spacy-loggers
sqlalchemy
srsly
statsmodels==0.13.5
text-unidecode
thinc
threadpoolctl
tqdm
typer
typing-extensions
urllib3
wasabi
xlrd
xmltodict==0.*