biopython
csvkit
dpath=2.*
english-words==1.1.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_jnlpba_md-0.5.1.tar.gz
multiprocess
networkx>=2.7
nltk>=3.8.1
numpy
openpyxl
pandas>=1.3
parsedatetime
psutil
pybind11
pydantic
pysbd
python-dateutil
python-slugify
pytimeparse
pytz
readline
regex
requests
scikit-learn
scipy
scispacy==0.5.1
setuptools
spacy
spacy-legacy
spacy-loggers
sqlalchemy
sqlite
statsmodels
urllib3
wheel
xmltodict
zlib